* {
    outline: none;
}

.wrap {
    background-color: var(--ion-color-primary-contrast);
    padding: 5px;
}

.form-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    >*:not(button) {
        flex-basis: 100%;
    }
}

// input {
//     padding: 6px;
//     border-radius: 4px;
//     font-size: 14px;
//     outline: none;
//     border: solid 1px var(--ion-color-primary-tint);
//     transition: .3s;

//     &.ng-invalid.ng-touched {
//         border-color: var(--ion-color-danger);
//     }
// }

// input:focus {
//     border-color: var(--ion-color-primary-tint);
//     box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);
// }

// label {
//     margin-top: 4px;
// }

// button,
// .button {
//     padding: 4px 24px;
//     border-radius: 4px;
//     font-size: 11px;
//     outline: none;
//     border: solid 1px var(--ion-color-primary);
//     margin: 4px;
// }

.link {
    cursor: pointer;
}

table {
    border-collapse: separate;
    border-spacing: 2px;

    thead {
        font-weight: 600;
        background-color: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
    }

    td {
        padding: 4px;
        border-top: solid 1px var(--ion-color-secondary);
        border-bottom: solid 1px var(--ion-color-secondary);

        ion-icon {
            color: var(--ion-color-tertiary);
            cursor: pointer;
        }
    }
}

.active-menu-item {
    // background-color: var(--ion-color-primary);
    color: var(--ion-color-secondary);
    font-weight: 600;
}