<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Меню</ion-title>
          <!-- <ion-icon slot="end" [name]="'log-out'" (click)="logout()"></ion-icon> -->
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="['/home']" routerLinkActive="active-menu-item">
              <ion-icon slot="start" [name]="'home'"></ion-icon>
              <ion-label>
                Домой
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="authData.value">
            <ion-item [routerDirection]="'root'" [routerLink]="['/user']" routerLinkActive="active-menu-item">
              <ion-icon slot="start" [name]="'people'"></ion-icon>
              <ion-label>
                Организации
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="authData.value">
            <ion-item [routerDirection]="'root'" [routerLink]="['/report']" routerLinkActive="active-menu-item">
              <ion-icon slot="start" [name]="'paper'"></ion-icon>
              <ion-label>
                Отчёты
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="!authData.value">
            <ion-item [routerDirection]="'root'" [routerLink]="['/login']" routerLinkActive="active-menu-item">
              <ion-icon slot="start" [name]="'log-in'"></ion-icon>
              <ion-label>
                Вход
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" class="link" *ngIf="authData.value">
            <ion-item (click)="logout()">
              <ion-icon slot="start" [name]="'log-out'"></ion-icon>
              <ion-label>
                Выход ({{authData.value.login}})
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <!-- <ion-row>
          <ion-col size="12">(<ion-icon [name]="'log-out'" (click)="logout()"></ion-icon>)</ion-col>
        </ion-row> -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>