<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Новая организация</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="12" size-sm="10" size-md="8" size-lg="6" size-xl="5">
      <ion-card>
        <form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()">
          <ion-item>
            <ion-label position="floating">Наименование организации</ion-label>
            <ion-input formControlName="organizationName"></ion-input>
            <!-- <p class="text-danger" *ngIf="form.errors">
              <span *ngIf="form.get('name').errors['nameIsUsed']">Уже используется</span>
            </p> -->
          </ion-item>
          <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Телефон</ion-label>
            <ion-input formControlName="phone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Логин</ion-label>
            <ion-input formControlName="login"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Пароль</ion-label>
            <ion-input formControlName="password"></ion-input>
          </ion-item>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button routerDirection="root" color="danger" size="small" strong [routerLink]="['/specialist']">
                <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
                Отменить
              </ion-button>
              <button type="submit" #submitForm [ngStyle]="{display: 'none'}"></button>
              <ion-button routerDirection="root" color="primary" size="small" round [disabled]="form.invalid">
                <ion-icon slot="start" name="checkmark"></ion-icon>
                Сохранить
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </form>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>