<div class="wrap">
  <h3>Новый пользователь</h3>
  <form (ngSubmit)="submitForm(createUserForm)" #createUserForm="ngForm">
    <div class="form-group has-error">
      <label>Наименование организации</label>
      <input type="text" ngModel name="organizationName" />
    </div>
    <div class="form-group">
      <label>Логин</label>
      <input type="text" ngModel name="login" required email />
    </div>
    <div class="form-group">
      <label>Пароль</label>
      <input type="password" ngModel name="password" required />
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="!createUserForm.valid">Сохранить</button>
    </div>
  </form>
</div>