<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Смена пароля</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item>
    <ion-label>Input</ion-label>
    <ion-input></ion-input>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione alias blanditiis similique nam totam itaque sed
      labore aut quasi doloremque, autem placeat soluta rerum sit numquam nulla temporibus ab voluptatum.
      Consectetur possimus dolorem ducimus provident vel unde ullam alias voluptatum itaque, asperiores quasi
      repudiandae ratione ipsum quo natus voluptas odit odio excepturi eveniet ea! Totam tempora quis quae molestias at.
      Nulla porro eius voluptatem aliquam minus itaque vel. Vitae nesciunt corporis nihil distinctio repellendus quam
      delectus? Doloribus soluta nam sequi illum vero magni. Earum enim ipsa, ratione quibusdam laborum voluptate.</p>
  </ion-item>
  <form [formGroup]="form" (ngSubmit)="sendNewPassword()">
    <input type="hidden" formControlName="userId" />
    <ion-item>
      <ion-label>Новый пароль</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-toolbar [ngStyle]="{textAlign: 'right', padding: '0 10px'}">
      <ion-button routerDirection="root" color="dark" size="small" strong (click)="close()"> Отменить </ion-button>
      <ion-button routerDirection="root" color="primary" size="small" type="submit" round [disabled]="form.invalid">
        Сохранить </ion-button>
    </ion-toolbar>
  </form>
</ion-content>