<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="sendNewPassword()"> 
    <div class="form-group">
      <input type="hidden" formControlName="userId" />
    </div>
    <div class="form-group">
      <input type="password" formControlName="password" />
    </div>
    <button type="submit">Сохранить</button>
    <button type="button" (click)="bsModalRef.hide()">Отмена</button>
    <div class="form-group" *ngIf="result">
      <p class="alert {{result.class}}">
        {{result.text}}
      </p>
    </div>
  </form>
</div>
<div class="modal-footer">
</div>