<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" (ngSubmit)="sendNewPassword()">
    <input type="hidden" formControlName="userId" />
    <ion-item>
      <ion-label position="stacked">Новый пароль</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Ещё раз</ion-label>
      <ion-input formControlName="confirmPassword" type="password"></ion-input>
    </ion-item>
    <ion-toolbar [ngStyle]="{textAlign: 'right', padding: '0 10px'}">
      <ion-button fill="clear" color="danger" size="small" (click)="close()">
        <ion-icon slot="start" name="remove-circle"></ion-icon>
        Отменить
      </ion-button>
      <button type="submit" #submitBtn [ngStyle]="{displsy: 'none'}"></button>
      <ion-button fill="clear" color="primary" (click)="submitBtn.click()" [disabled]="form.invalid">
        <ion-icon slot="start" name="checkmark"></ion-icon>
        Сохранить
      </ion-button>
    </ion-toolbar>
  </form>
</ion-content>