<ion-header *ngIf="user">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{user.organizationName}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="user">
  <pre>{{user | json}}</pre>
</ion-content>

<!-- <div *ngIf="user" class="wrap">
  <h3>{{user.organizationName}}</h3>
  <pre>{{user | json}}</pre>
  
  <h4>Пользователи организации</h4>
  <table>
    <tr>
      <td>a</td>
      <td>b</td>
      <td>c</td>
    </tr>
    <tr *ngFor="let child of children">
        <td>{{child.login}}</td>
        <td>{{child.organizationName}}</td>
        <td>{{child.parentUserId}}</td>
      </tr>
  </table>
</div> -->